*.o
*.lo
*.a
*.la

config.*
configure

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
depcomp
install-sh
libtool
ltmain.sh
missing
s2sbuild
s2ssearch
stamp-h1
tx.pc
txbuild
txlist
txsearch
txsearch_mmap
wordlist.txt

.deps/
.libs/
